<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>
<body>
	<button onclick="location.href='/'">戻る</button>
    <table border=1>
        <thead>
            <tr>
                <th>ID</th>
                <th>youtubeURL</th>
                <th>タイトル</th>
                <th>配信開始日時</th>
                <th>総配信時間[秒]</th>
                <th>メンバーフラグ</th>
                <th>削除フラグ</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="line : ${fho}" th:object="${fho}">
				<td><a th:href="|/stream/${line.id}|">[[${line.id}]]</a></td>
                <td>[[${line.youtubeId}]]</td>
                <td><a th:href="|/stream/${line.id}|">[[${line.title}]]</a></td>
                <td>[[${line.streamStart}]]</td>
                <td>[[${line.total}]]</td>
                <td>[[${line.isMember}]]</td>
                <td>[[${line.isDelete}]]</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
