<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <table border=1>
        <thead>
            <tr>
                <th>ID</th>
                <th>youtubeURL</th>
                <th>タイトル</th>
                <th>配信開始日時</th>
                <th>総配信時間[秒]</th>
                <th>メンバーフラグ</th>
                <th>削除フラグ</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="line : ${fho}" th:object="${fho}">
				<td><a th:href="|/details/*{id}|">[[*{id}]]</a></td>
                <td>[[*{youtubeId}]]</td>
                <td><a th:href="|/details/*{id}|">[[*{title}]]</a></td>
                <td>[[*{streamStart}]]</td>
                <td>[[*{total}]]</td>
                <td>[[*{isMember}]]</td>
                <td>[[*{isStatus}]]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
