<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Reader</title>
</head>
<body>

<button onclick="location.href='/readFile'">ファイル読み取り</button>

<form id="form1" th:action="@{/insert}" method="post" enctype="multipart/form-data">
	
	<select name="year">
		<option value="2024" th:selected="${year == '2024'}">2024</option>
		<option value="2023" th:selected="${year == '2023'}">2023</option>
		<option value="2022" th:selected="${year == '2022'}">2022</option>
		<option value="2021" th:selected="${year == '2021'}">2021</option>
	</select>
	
	<p><label for="fileUpload">ファイルを選択:</label>
        <input type="file" id="fileUpload" name="file" required></p>
	
	<p><input id="sbtn1" type="submit" value="ファイル取り込み" /></p></form>


<button onclick="location.href='/'">戻る</button>

<ul>
    <li th:each="line : ${content}" th:text="${line}"></li>
</ul>

</body>
</html>
