<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta charset="UTF-8" />
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>
<body>

<h1><font color="red">フォートナイト下手くそおじさん検索エンジン</font></h1>
<form id="form1" th:action="@{/search}" method="get">
<input id="sbox1" name="sbox1" type="text" th:value="${title}" placeholder="タイトル" />
<input id="sbox2" name="sbox2" type="text" th:value="${description}" placeholder="詳細" />
<input id="sbtn1" type="submit" value="検索" /></form>

<button onclick="location.href='/'">戻る</button>
    <table border=1>
        <thead>
            <tr>
                <th>配信タイトル</th>
                <th>配信日時</th>
                <th>チェックポイント</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${content}" th:object="${result}">
                <td th:text="*{title}"></td>
                <td th:text="*{streamStart}"></td>
                <td th:text="*{time}"></td>
                <td th:text="*{description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
