<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Reader</title>
    <meta charset="UTF-8" />
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>
<body>

<form id="form1" th:action="@{/search}" method="get">
<input id="sbox1" name="s" type="text" placeholder="キーワードを入力" />
<input id="sbtn1" type="submit" value="検索" /></form>

<button onclick="location.href='/'">戻る</button>

<ul>
    <li th:each="result : ${content}">
        <span th:text="${result.id}"></span> |
        <span th:text="${result.title}"></span> |
        <span th:text="${result.time}"></span> |
        <span th:text="${result.description}"></span> |
        <span th:text="${result.streamStart}"></span>
    </li>
</ul>

</body>
</html>
