<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <table border=1>
        <thead>
            <tr>
                <th>配信ID</th>
                <th>チェックポイント</th>
                <th>備考</th>
                <th>削除フラグ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="details : ${details}" th:object="${details}">
                <td th:text="*{id}"></td>
                <td th:text="*{time}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{isDelete}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>