table{
  width: 80%;
  border-collapse:separate;
  border-spacing: 0;
  border-style: none
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  padding: 10px;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

div.button {
  width: 50%;
  margin-top: 10px;
}


/*フォーム全体*/
#form1{
position:relative;/*フォームの相対位置*/	
max-width:270px;/*フォームのサイズ*/
margin-bottom:15px;/*フォームの下に余白*/	 	
}
/*検索ボックス*/
#sbox{
position:absolute;/*フォームの絶対位置*/	
left:0;
top:0; 	
outline:0;/*クリック時の青い枠線消す*/	
height:50px;/*検索ボックスの高さ*/	
padding:0 10px;/*テキスト位置調整*/	 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#eee;/*検索ボックスの背景カラー*/		
}
/*検索ボタン*/
#sbtn{
width:70px;/*検索ボタンの横幅*/ 
height:50px;/*検索ボタンの縦幅*/ 
position:absolute;/*検索ボタンの絶対位置*/  
left:270px;/*検索ボタンの位置調整*/  
top:0;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#7fbfff;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

.pagination li {display:inline;}